* {
    font-family: 'Roboto', sans-serif;
}

.centerY {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.backgroundImg {
    background-image: url("../images/mergedHDQuadCompressed.jpg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    position: fixed;
}

.content {
    position: relative;
}

body {
    height: 100vh;
    width: 100%;
}

/* Photo by Tyler Lastovich on Unsplash */
/* Photo by freddie marriage on Unsplash */

.welcomeText {
    font-family: 'Roboto Mono', monospace;
    color: white;
    position: absolute;
    text-align: center;
    top: 10%;
    text-shadow: 1px 1px black;
    opacity: 0.8;

}

#greeting,
#secondText,
#takeLook,
#slideText {
    font-family: 'Roboto Mono', monospace;
}

#phoneImg {
    height: auto;
}

#phoneHolder {
    max-width: 200px;
    min-width: 200px;
    position: relative;
    margin: 0% auto;
}

#slideBox {
    width: 80%;
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    opacity: 0.8;
}

#slideText {
    font-size: 12px;
    float: right;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 40%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 45px;
    background: none;
    outline: none;
    opacity: 0.8;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 36px;
    width: 36px;
    background: url("../images/icons8-right-button-48.png");
    border: 0;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 36px;
    background: url("../images/icons8-right-button-48.png");
    border: 0;
    cursor: pointer;
}



.afterStart {
    display: none;
}

#techs {
    font-size: 24px;
    /* display: flex;
    justify-content: space-between; */
    /* background: none; */
}

#contactDropdown {
    left: inherit;
}


#aboutMeText {
    font-size: 20px;
}

#aboutHeader, #aboutBody, #descriptionText{
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.664);
}

a {
    color: black;
}

.carousel-indicators .active {
    background-color: #b1b1b1  !important;
}
.carousel-indicators li {
    width: .625rem  !important;
    height: .625rem  !important;
    border-radius: 50%  !important;
    background-color: #ccc8c880  !important;
}

.carousel-indicators {
    top: 10px !important;
    bottom: unset !important;
}

.carouselArrow{
    color: black !important;
}

#contactJumbo {
    background-color: rgba(214, 214, 214, 0.822);
    margin: 20% auto;
    max-width: 500px;
}


@media (min-width: 1921px) {
    .backgroundImg {
        background-image: url('../images/merged4kQuadCompressed.jpg')
    }
}

@media (max-width: 1920px) {
    .backgroundImg {
        background-image: url('../images/mergedHDQuadCompressed.jpg')
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    #selfie {
        width: 33%;
    }
}

@media (max-width: 768px) {
    #selfie {
        width: 50%;
        margin: 0 25%;
    }
}

@media (max-width: 576px) {
    #selfie {
        width: 100%;
        margin: 0;
    }
}